        <section class="ui segment">
            <div class="ui info message">
                <p class="header">Cette application a été réalisée en 2015 dans le cadre d'un projet du M2-DNR2I à l'université de Caen Normandie.<p>
            </div>
            <div itemprop="mainContentOfPage">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eleifend, augue in aliquam sodales, tellus tortor tristique nunc, pharetra porttitor quam quam ac elit. Donec nisl libero, lobortis id placerat et, molestie in augue. Integer rutrum, mauris id mollis vulputate, enim lacus rhoncus mi, id semper turpis elit a est. Aliquam erat volutpat. Duis ornare purus et ullamcorper suscipit. Donec rutrum interdum nulla, sit amet euismod nisi tincidunt et. Cras blandit urna non lacus pulvinar, vel pulvinar lectus eleifend. Phasellus egestas nunc in risus posuere imperdiet. Curabitur sollicitudin pharetra massa. Quisque magna purus, tincidunt at ultrices eget, egestas vel sem.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eleifend, augue in aliquam sodales, tellus tortor tristique nunc, pharetra porttitor quam quam ac elit. Donec nisl libero, lobortis id placerat et, molestie in augue. Integer rutrum, mauris id mollis vulputate, enim lacus rhoncus mi, id semper turpis elit a est. Aliquam erat volutpat. Duis ornare purus et ullamcorper suscipit. Donec rutrum interdum nulla, sit amet euismod nisi tincidunt et. Cras blandit urna non lacus pulvinar, vel pulvinar lectus eleifend. Phasellus egestas nunc in risus posuere imperdiet. Curabitur sollicitudin pharetra massa. Quisque magna purus, tincidunt at ultrices eget, egestas vel sem.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eleifend, augue in aliquam sodales, tellus tortor tristique nunc, pharetra porttitor quam quam ac elit. Donec nisl libero, lobortis id placerat et, molestie in augue. Integer rutrum, mauris id mollis vulputate, enim lacus rhoncus mi, id semper turpis elit a est. Aliquam erat volutpat. Duis ornare purus et ullamcorper suscipit. Donec rutrum interdum nulla, sit amet euismod nisi tincidunt et. Cras blandit urna non lacus pulvinar, vel pulvinar lectus eleifend. Phasellus egestas nunc in risus posuere imperdiet. Curabitur sollicitudin pharetra massa. Quisque magna purus, tincidunt at ultrices eget, egestas vel sem.</p>
            </div>
            <div id="auteurs" class="ui cards">
                <div class="card" itemprop="author" itemscope itemtype="https://schema.org/Person">
                    <div class="image">
                        <img src="ui/images/macky-dieng.jpg" itemprop="image">
                    </div>
                    <div class="content">
                        <span class="header">
                            <span itemprop="givenName">Macky</span>
                            <span itemprop="familyName">Dieng</span>
                        </span>
                        <div class="meta">
                            <span>Développeur back-end</span>
                        </div>
                    </div>
                    <div class="extra content">
                        <a href="https://github.com/dieng444" target="_blank" itemprop="url">
                            <i class="github icon"></i>
                            dieng444
                        </a>
                    </div>
                </div>
                <div class="card" itemprop="author" itemscope itemtype="https://schema.org/Person">
                    <div class="image">
                        <img src="ui/images/baptiste-vannesson.jpg" itemprop="image">
                    </div>
                    <div class="content">
                        <span class="header">
                            <span itemprop="givenName">Baptiste</span>
                            <span itemprop="familyName">Vannesson</span>
                        </span>
                        <div class="meta">
                            <span>Développeur front-end</span>
                        </div>
                    </div>
                    <div class="extra content">
                        <a href="https://github.com/Badacadabra" target="_blank" itemprop="url">
                            <i class="github icon"></i>
                            Badacadabra
                        </a>
                    </div>
                </div>
            </div>
        </section>
