        <section class="ui segment">
            <div id="map" itemscope itemtype="http://schema.org/Map"></div>
        </section>
        <div class="ui active page dimmer">
            <div class="content">
                <div id="main-loader" class="ui large indeterminate text loader">Chargement de la carte</div>
            </div>
        </div>
        <!-- Pop-up -->
        <div id="no-image" class="ui basic modal">
            <div class="ui icon header">
                Nous n'avons trouvé aucune image contenant des coordonnées GPS dans ses métadonnées.
            </div>
            <div class="actions">
                <div class="ui massive green ok inverted button">OK</div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="ui/js/map.js"></script>
