        <section class="ui segment">
            <form enctype="multipart/form-data" id="upload-form">
                <div id="file-container">
                    <label for="file" class="ui icon massive button">
                    <i class="photo icon"></i>
                    Uploader une image</label>
                    <input type="file" id="file" name="uploadImg">
                </div>
                <div class="ui divider"></div>
                <div id="upload-wrapper">
                    <!-- Zone de prévisualisation -->
                    <div id="selected-image">
                        <img src="ui/images/default_image.png" alt="" itemprop="primaryImageOfPage">
                    </div>
                    <!-- Formulaire -->
                    <div id="form-wrapper" class="ui large form">
                        <div id="upload-loader" class="ui icon message">
                            <i class="notched circle loading icon"></i>
                            <div class="content">
                                <div class="header">
                                    Un peu de patience !
                                </div>
                                <p>Extraction des métadonnées en cours...</p>
                            </div>
                        </div>
                        <div class="ui yellow icon message">
                            <i class="pin icon"></i>
                            <div class="content">
                                <div class="header">
                                    Cette page n'est qu'une prévisualisation.
                                </div>
                                <p>Vous devez cliquer sur « Sauvegarder » pour uploader votre image.</p>
                            </div>
                        </div>
                        <div id="title-field" class="field">
                            <label>Titre</label>
                            <input type="text" placeholder="Titre" id="title" name="title">
                            <div id="title-error" class="ui basic red pointing prompt label transition" style="display: none;">Vous devez entrer un titre.</div>
                        </div>
                        <div id="author-field" class="field">
                            <label>Auteur</label>
                            <input type="text" placeholder="Auteur" id="author" name="author">
                            <div id="author-error" class="ui basic red pointing prompt label transition" style="display: none;">Vous devez entrer un auteur.</div>
                        </div>
                        <div class="field">
                            <label>URL de l'auteur</label>
                            <input type="text" placeholder="URL de l'auteur" id="authorURL">
                        </div>
                        <div class="field">
                            <label>Licence</label>
                            <input type="text" placeholder="Licence" id="right">
                        </div>
                         <div class="field">
                            <label>Credit</label>
                            <input type="text" placeholder="Credit" id="credit">
                        </div>
                         <div class="field">
                            <label>Termes d'usage</label>
                            <input type="text" placeholder="Termes d'usage" id="usageTerms">
                        </div>
                        <div class="field">
                            <label>Lien de la source</label>
                            <input type="text" placeholder="Lien de la source" id="source">
                        </div>
                        <div class="field">
                            <label>Date</label>
                            <input type="text" placeholder="Date" id="create-date">
                        </div>
                        <div class="field">
                            <label>Entête</label>
                            <input type="text" placeholder="Entête" id="headline">
                        </div>
                        <div class="two fields">
                            <div class="field">
                                <label>Ville</label>
                                <input type="text" placeholder="Ville" id="city">
                            </div>
                            <div class="field">
                                 <label>Pays</label>
                                <input type="text" placeholder="Pays" id="country">
                            </div>
                        </div>
                        <div class="field">
                            <label>Description</label>
                            <textarea id="desc" placeholder="Description" ></textarea>
                        </div>
                        <button type="submit" class="ui primary big button" id="save">
                            Sauvegarder
                        </button>
                        <button class="ui red big button" id="cancel">
                            Annuler
                        </button>
                    </div>
                    <!-- Pop-ups -->
                    <div id="confirm-upload" class="ui basic modal">
                        <div class="ui icon header">
                            Souhaitez-vous ajouter une autre image ?
                        </div>
                        <div class="actions">
                            <div class="ui massive red cancel inverted button">Non</div>
                            <div class="ui massive green ok inverted button">Oui</div>
                        </div>
                    </div>
                    <div id="cancel-upload" class="ui basic modal">
                        <div class="ui icon header">
                            Voulez-vous vraiment mettre fin à l'upload ?
                        </div>
                        <div class="actions">
                            <div class="ui massive red cancel inverted button">Non</div>
                            <div class="ui massive green ok inverted button">Oui</div>
                        </div>
                    </div>
                    <div id="wrong-upload" class="ui basic modal">
                        <div class="ui icon header">
                            Ce type de fichier n'est pas pris en charge.<br>
                            Formats acceptés : JPEG, PNG, GIF.
                        </div>
                        <div class="actions">
                            <div class="ui massive green ok inverted button">OK</div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="ui/js/upload.js"></script>
