		<section class="ui segment">
            <form method="#" action="#" enctype="multipart/form-data" id="upload-form">
                <div id="file-container">
                    <label for="file" class="ui icon massive button">
                    <i class="photo icon"></i>
                    Uploader une image</label>
                    <input type="file" id="file" name="uploadImg">
                </div>
                <div id="upload-wrapper">
                    <div id="form-wrapper">
                        <div class="ui huge input">
                            <input  type="text" placeholder="Titre" id="title">
                        </div>
                        <div class="ui huge input">
                            <input  type="text" placeholder="Auteur" id="author">
                        </div>
                        <div class="ui huge input">
                            <input  type="text" placeholder="Licence" id="right">
                        </div>
                        <div class="ui huge input">
                            <input  type="text" placeholder="Date" id="create-date">
                        </div>
                        <div class="ui huge input">
                            <input  type="text" placeholder="Lieu" id="city">
                        </div>
                        <button class="ui primary big button" id="save">
                            Sauvegarder
                        </button>
                        <button class="ui red big button" id="cancel">
                            Annuler
                        </button>
                    </div>
                    <div id="selected-image">
                        <img src="ui/images/default_image.png" alt="" itemprop="primaryImageOfPage">
                    </div>
                </div>
            </form>
        </section>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="ui/js/upload.js"></script>
