/* =============================================== */
/* ==================== Reset ==================== */
/* =============================================== */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

:focus {
    outline: none;
}

/* =============================================== */
/* ==================== Global =================== */
/* =============================================== */

section {
    width: 90%;
    margin-top: 100px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

nav.menu a.item {
    width: 150px;
}

nav.menu {
    background-color: black !important;
}

#photowall {
    width: 100%;
    margin: auto;
}

#mCSB_1_container {
    margin-right: 0;
}

/* =============================================== */
/* ================== Accueil ==================== */
/* =============================================== */

img {
    height: 250px;
}

/* =============================================== */
/* ================== Détails ==================== */
/* =============================================== */



/* =============================================== */
/* =================== Upload ==================== */
/* =============================================== */

#file-container {
    margin-bottom: 15px !important;
}

/* =============================================== */
/* ================== À propos =================== */
/* =============================================== */

