/* =============================================== */
/* ==================== Reset ==================== */
/* =============================================== */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

:focus {
    outline: none;
}

/* =============================================== */
/* ==================== Global =================== */
/* =============================================== */

body {
    background-image: url('../images/photographer.jpg') !important;
}

section {
    width: 75%;
    margin-top: 130px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

nav.menu a.item {
    width: 150px;
}

nav.menu {
    background-color: black !important;
}

#photowall {
    width: 100%;
    margin: auto;
}

#mCSB_1_container {
    margin-right: 0;
}

.segment {
    padding: 30px !important;
}

/* =============================================== */
/* ================== Accueil ==================== */
/* =============================================== */



/* =============================================== */
/* ================== Détails ==================== */
/* =============================================== */

div#content-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

a#image-lightbox figure#thumbnail {
    width: 500px;
    margin: 20px 0 !important;
}

a#image-lightbox figure#thumbnail img {
    width: 500px;
}

a#image-lightbox figure#thumbnail figcaption {
    width: 500px;
    color: white;
    background-color: black;
    font-weight: bold;
    padding: 15px;
    position: absolute;
    top: 370px;
    opacity: 0.7;
}

#flickr input {
    border-radius: 0.29em 0 0 0.29em !important;
}

#flickr button {
    border-radius: 0 0.29em 0.29em 0 !important;
}

#flickr-response {
    margin-top: 20px
}

/* =============================================== */
/* ==================== Carte ==================== */
/* =============================================== */

#map {
    height: 500px;
}

#map img {
    width: 150px;
}

/* =============================================== */
/* =================== Upload ==================== */
/* =============================================== */

#file-container {
    margin-bottom: 15px !important;
}

#file {
    display: none !important;
}

#upload-wrapper {
    display: flex !important;
    align-items: center !important;
}

#form-wrapper {
    display: none;
    max-width: 45%;
}

#form-wrapper .ui.huge.input {
    display: block;
    margin: 15px 0;
}

#selected-image {
    max-width: 45%;
    height: 366px;
}

#selected-image img {
    height: 350px;
}

div.ui.basic.modal div.ui.icon.header {
    font-size: xx-large;
}

/* =============================================== */
/* ================== À propos =================== */
/* =============================================== */

.message {
    font-size: 17px !important;
    text-align: center;
    margin-bottom: 20px !important;
}

.cards {
    margin-top: 20px !important;
}
